version: '3'

services:
  webserver:
    image: nginx:latest
    ports:
      - 80:80
    restart: always
    volumes:
      - ./nginx/conf/:/etc/nginx/conf.d/:ro
      - ./static/:/var/www/html/:ro
      - ./certbot/www/:/var/www/certbot/:ro
      - ./certbot/conf/:/etc/nginx/ssl/:ro
  certbot:
    image: certbot/certbot:latest
    volumes:
      - ./certbot/www/:/var/www/certbot/:rw
      - ./certbot/conf/:/etc/letsencrypt/:rw
  oauth2-proxy:
    image: bitnami/oauth2-proxy
    environment:
      - OAUTH2_PROXY_PROVIDER=oidc
      - OAUTH2_PROXY_PROVIDER_DISPLAY_NAME="IAM-ILDG INFN"
      - OAUTH2_PROXY_OIDC_ISSUER_URL=https://iam-ildg.cloud.cnaf.infn.it/
      - OAUTH2_PROXY_REVERSE_PROXY=true
      - OAUTH2_PROXY_SKIP_JWT_BEARER_TOKENS=true
      - OAUTH2_PROXY_EXTRA_JWT_ISSUERS="iam-ildg.cloud.cnaf.infn.it=ildg"
      - OAUTH2_PROXY_FORCE_HTTPS=true
      - OAUTH2_PROXY_UPSTREAM=https://lattice-storage-park.swansea.ac.uk:8181
      - OAUTH2_PROXY_HTTP_ADDRESS=http://0.0.0.0:443
      - OAUTH2_PROXY_TLS_CERT_FILE=/etc/letsencrypt/live/uklft-dg.swansea.ac.uk/fullchain.pem
      - OAUTH2_PROXY_TLS_KEY_FILE=/etc/letsencrypt/live/uklft-dg.swansea.ac.uk/privkey.pem
    volumes:
      - ./certbot/conf/:/etc/letsencrypt:ro
    command:
      - --http-address=0.0.0.0:443
      - --upstream=https://lattice-storage-park.swansea.ac.uk:8181
